.infisical.json

# Dependencies
node_modules/

# Next.js
.next/
.open-next/

# Build outputs
out/

# Env files
.env.*.local
*.local

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store

# wrangler
.wrangler/

# Temporary files
temp/
